{# {% extends 'base.html.twig' %} #}

{% block title %}Edit Bake{% endblock %}

{% block body %}
    <h1>Edit Bake</h1>

    {{ include('bake/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bake_index') }}">back to list</a>

    {{ include('bake/_delete_form.html.twig') }}
{% endblock %}
